!*/cache/.htaccess
!*/cache/index.html
!*/logs/index.html
!application/logs/.htaccess
!application/logs/index.html
!writable/cache/index.html
!writable/logs/index.html
!writable/session/index.html
!writable/uploads/index.html
$RECYCLE.BIN/
*.cab
*.iml
*.lnk
*.msi
*.msm
*.msp
*.stTheme.cache
*.sublime-project
*.sublime-workspace
*.tmPreferences.cache
*.tmlanguage.cache
*/cache/!.htaccess
*/cache/!index.html
*/cache/*
*/config/development
*/logs/!index.html
*/logs/*
*/logs/log-*.php
*/tmp/branches.txt
*~
.AppleDouble
.DS_Store
.LSOverride
.Trash-*
._*
.directory
.env
.idea
.idea/
.idea/*
.nb-gradle/
.php-cs-fixer.cache
.php-version
.php_cs.cache
.phpintel
.vagrant
.vscode/
/.phpunit.*.cache
/api/
/phpunit*.xml
/results/
Desktop.ini
Thumbs.db
Vagrantfile
_modules/*
application/logs/*
build/
composer.lock
dist/
doc/*
ehthumbs.db
exports/
logs/
nb-configuration.xml
nbactions.xml
nbbuild/
nbdist/
nbproject/
php_errors.log
phpunit
tests/coverage*
tmp/
tmp/*
uploads/
user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*
vendor/
writable/
writable/cache/*
writable/debugbar/*
writable/logs/*
writable/session/*
writable/uploads/*
www/.env
www/application/logs/*
www/images/autoresponder_emails/*.jpg
www/vendor
