.offer-image {
  margin: 1.25rem auto;
}

.offer-url {
  font-size: 1.25rem;
  font-weight: 600;
  margin: 1.25rem auto;
}

.offer-description {
  font-size: 1.1rem;
  font-weight: 400;
  margin: 1.25rem;
}